.game-board {
  margin-top: 20px;
}

.game-info {
}

.status {
  margin-top: 50px;
  font-size: 200%;
}

ul {
  list-style: none;
}

.moves {
  background-color: bisque;
  height: 30px;
  width: 20%;
  margin-left: -30px;
}